header img {
    width: 70px;
}

.freelancer-header .navbar-toggler {
    border-color: #fff;

}

.freelancer-header .bi-list {
    font-size: 2rem;
    color: #fff;
}

table>* {
    padding-top: 2px;
}